.card {
  box-shadow: none;
  border: 1px solid var(--ifm-color-emphasis-200);

  transition: all var(--ifm-transition-fast) ease;

  &:has(.card__footer > a:only-child) {
    position: relative;
  }

  &:has(.card__footer > a:only-child) .card__footer > a:first-child::after {
    position: absolute;
    inset: 0;
    content: "";
  }

  &:has(.card__footer > :only-child):hover {
    border-color: var(--ifm-color-primary);
    background-color: var(--ifm-color-secondary);
  }
}

[data-theme="dark"] {
  .card {
    background: none;
  }

  .card:has(.card__footer > :only-child):hover {
    background-color: var(--ifm-card-background-color);
  }
}
